<label class="md-label raised padded table-label">{{ label }}</label>
{{tinymce-editor
  value=value
  options=(hash
    branding=false
    plugins='lists link table image code'
    toolbar='formatselect | undo redo | link | bold italic backcolor  | alignleft aligncenter alignright alignjustify | numlist bullist outdent indent | table image | removeformat | code'
    menubar=false
    selector=textarea
    min_height=200
    heigth=300)
  onValueChanged=(action onChange)}}
