$primary: "blue" !default;
//$accent: "pink" !default;
//$warn: "red" !default;
//$background: "grey" !default;
//$link: "light-blue" !default;

@import "ember-gen";
@import "_buttons";


.model-form .model-form-field:last-child .md-input-hint {
  top: -19px;
}

.fullwidth {
  width: 100%;
}

.nowrap {
  white-space: nowrap;
}

td img {
  max-height: 100px;
  margin: 10px 0;
}

img.logo {
  max-width: 200px;
}
