$primary: "blue" !default;
//$accent: "pink" !default;
//$warn: "red" !default;
//$background: "grey" !default;
//$link: "light-blue" !default;

@import "ember-gen";
@import "_buttons";

$success-color: color($color-light-green, '600');

.model-form .model-form-field:last-child .md-input-hint {
  top: -19px;
}

.fullwidth {
  width: 100%;
}

.nowrap {
  white-space: nowrap;
}

td img {
  max-height: 100px;
  margin: 10px 0;
}

img.logo {
  max-width: 200px;
}

.mce-panel {
  border-width: 0!important;
  margin-bottom: 10px!important;
}

.md-icon-success {
  md-icon {
    color: $success-color !important;
  }
}


.checkbox-container + .md-input-hint {
  position: relative;
  top: -30px;
  left: 8px;
}
