*.idea*
*.pyc
agora/*.pyc
test1.json
**/logs/*
*.retry
static/img/uploads/*
*.swp
.pytest_cache/

grnet-metadata.xml
viseem-metadata.xml
edugain-meta.xml
b2access-idp-production.xml
b2access-idp-staging.xml
meta-meta.xml
idp-metadata.xml

mycert.key
mycert.pem
key.pem
cert.pem

.DS_Store

# compiled output
**/dist
**/tmp

# dependencies
**/node_modules
**/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log

*.*~
