version: '3.8'
services:

  agora-backend:
    build:
      context: .
      dockerfile: ./agora/Dockerfile
    ports:
      - 8000:80
    volumes:
       - ./agora:/srv/agora/agora
       - ./agora/docker/deployment-gitlab-ci.conf:/etc/agora/deployment.conf
       - dist:/srv/agora/ui/dist
    stdin_open: true
    tty: true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/ui/auth/login"]
      interval: 1m30s
      timeout: 20s
      retries: 20
      start_period: 5m


  agora-frontend:
    build:
      context: ./ui
      dockerfile: ./Dockerfile
    links:
      - "agora-backend:agora-backend"
    depends_on:
      - agora-backend
    volumes:
      - ./ui:/srv/agora/ui
      - dist:/srv/agora/ui/dist
      - /srv/agora/ui/tmp
      - /srv/agora/ui/node_modules
      - /srv/agora/ui/bower_components
    stdin_open: true
    tty: true



volumes:
  dist:


