version: '3.8'
services:

  selenium:
    #image: selenium/standalone-firefox
    #image: selenium/standalone-firefox:4.0.0-rc-2-prerelease-20210923
    #image: selenium/standalone-firefox:93.0
    image: selenium/standalone-chrome
    environment:
      - HUB_PORT_4444_TCP_ADDR=hub
      - HUB_PORT_4444_TCP_PORT=4444
      #- START_XVFB=false
      - START_XVFB=true
    shm_size: '2gb'
    #expose:
    #  - 4444
    #  - 7900
      #- 5900
    ports:
      - 7900:7900
      #- 4444:4444
    networks:
      - selenium-grid
    links:
      - "agora-backend:agora-backend"


  agora-backend:
    build:
      context: .
      dockerfile: ./agora/Dockerfile
    #ports:
    #  - 8000:80
    volumes:
       - ./agora:/srv/agora/agora
       - dist:/srv/agora/ui/dist
    stdin_open: true
    tty: true
    #command: bash -c "python manage.py migrate && ./populate_db.sh && python manage.py loaddata fixtures/sample-providers.json && python manage.py loaddata fixtures/sample-users.json && python manage.py loaddata fixtures/sample-contactInformations.yaml && python manage.py loaddata fixtures/sample-resources.yaml && python manage.py runserver 0.0.0.0:80"
    #command: bash -c "python manage.py migrate && python manage.py runserver 0.0.0.0:80"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/ui/auth/login"]
      interval: 1m30s
      timeout: 20s
      retries: 20
      start_period: 5m
    networks:
      - selenium-grid


  agora-frontend:
    build:
      context: ./ui
      dockerfile: ./Dockerfile
    links:
      - "agora-backend:agora-backend"
    depends_on:
      - selenium
      - agora-backend
    volumes:
      - ./ui:/srv/agora/ui
      - dist:/srv/agora/ui/dist
      - /srv/agora/ui/tmp
      - /srv/agora/ui/node_modules
      - /srv/agora/ui/bower_components
    stdin_open: true
    tty: true


  selenium-python-tests:
    build:
      context: ./tests/selenium_tests
      dockerfile: ./Dockerfile
    volumes:
      - ./tests/selenium_tests:/srv/agora/tests/selenium_tests
    user: "1000:1000"
    depends_on:
      agora-backend:
        condition: service_healthy
      selenium:
        condition: service_started
      agora-frontend:
        condition: service_started
    networks:
      - selenium-grid
    links:
      - "agora-backend:agora-backend"
      - "selenium:selenium"




volumes:
  dist:


networks:
  selenium-grid:


