appdirs==1.4.3
asn1crypto==0.22.0
blessings==1.6
bpython==0.16
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.3
coreapi==2.3.1
coreschema==0.0.4
cryptography==1.8.2
curtsies==0.2.11
cycler==0.10.0
decorator==4.0.11
defusedxml==0.4.1
Django==1.9.7
django-access-tokens==0.9.2
django-ckeditor==5.2.2
django-cors-headers==2.1.0
django-jenkins==0.110.0
django-rest-swagger==0.3.10
django-reversion==2.0.8
django-suit==0.2.25
djangorestframework==3.6.3
djangosaml2==0.14.4
docutils==0.13.1
enum34==1.1.6
functools32==3.2.3.post2
future==0.16.0
greenlet==0.4.12
idna==2.5
ipaddress==1.0.18
itypes==1.1.0
Jinja2==2.9.6
jsmin==2.2.2
lxml==3.7.3
MarkupSafe==1.0
matplotlib==2.0.2
music==0.1.dev6
MySQL-python==1.2.5
networkx==1.11
numpy==1.12.1
oauthlib==2.0.2
olefile==0.44
openapi-codec==1.3.1
packaging==16.8
parsedatetime==2.4
Paste==2.0.3
Pillow==4.1.1
pycparser==2.17
pycryptodomex==3.4.6
Pygments==2.2.0
pyjwkest==1.3.2
PyJWT==1.5.0
pyOpenSSL==17.0.0
pyparsing==2.2.0
pysaml2==4.0.5
python-dateutil==2.6.0
python-openid==2.2.5
python-social-auth==0.2.19
pytz==2017.2
PyYAML==3.12
repoze.who==2.3
requests==2.16.5
requests-oauthlib==0.8.0
scipy==0.19.0
selenium==3.4.2
simplejson==3.10.0
six==1.10.0
social-auth-core==1.3.0
splinter==0.7.5
subprocess32==3.2.7
uritemplate==3.0.0
urllib3==1.21.1
URLObject==2.4.3
wcwidth==0.1.7
WebOb==1.7.2
zope.interface==4.4.1
