argo-ams-library==0.4.2
apimas-django==0.4a4
apimas==0.4a4
specular==0.4a4
Django==1.11.29
django-ckeditor==5.2.2
django-cors-headers==1.1.0
django-rest-swagger==0.3.10
django-reversion==2.0.8
django-suit==0.2.25
djangorestframework==3.11.2
djoser==0.5.2
future==0.15.2
beautifulsoup4==4.6.3
requests==2.23.0
