<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Picker</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/static/assets/img/favicon.png" type="image/x-icon">

    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="/static/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/assets/css/weather-icons.min.css" rel="stylesheet" />

    <!--Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <!--Beyond styles-->
    <link id="beyond-link" href="/static/assets/css/beyond.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/css/demo.min.css" rel="stylesheet" />
    <link href="/static/assets/css/typicons.min.css" rel="stylesheet" />
    <link href="/static/assets/css/animate.min.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/static/assets/css/picker.css" type="text/css" />

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="/static/assets/js/skins.min.js"></script>

    <script src="/static/assets/js/react/react.js"></script>
    <script src="/static/assets/js/react/react-dom.js"></script>
    <script src="/static/assets/js/react/browser.min.js"></script>


</head>
<body>

    <div id="content"></div>

    <script type="text/babel" src="/static/assets/js/service_picker.jsx"></script>


    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/slimscroll/jquery.slimscroll.min.js"></script>

    <!--Beyond Scripts-->
    <script src="/static/assets/js/beyond.js"></script>

    <script type="application/javascript">
        $(document).ready(function () {


            $.ajaxSetup({'cache':true});
        });
    </script>
</body>
</html>