{% extends "base.html" %}

{% block styles %}
    {% load staticfiles %}

    <link type="text/css" rel="stylesheet" href="{% static "service/css/list.css" %}" />

{% endblock %}

{% block content %}

    <div ng-app="serviceListApp">

     <div id="service_list_container" ng-controller="ListController">

    <p>Currently we have { service_count } services in our database.</p>

         <table border="1" cellpadding="5">
             <tr>
                <td>Service Name</td>
                <td>Service UUID</td>
                <td>Portfolio link (short)</td>
                <td>Portfolio link (complete)</td>
                <td>Catalogue link</td>
             </tr>
             <tr ng-repeat="service in services">
                 <td>{ service.name }</td>
                 <td>{ service.uuid }</td>
                 <td><a href="{ portfolio_base + service.uuid }/service_details?view=short ">Portfolio (short)</a> | <a href="{ portfolio_base + service.uuid }/">JSON</a></td>
                 <td><a href="{ portfolio_base + service.uuid }/service_details?view=complete">Portfolio (complete)</a> | <a href="{ portfolio_base + service.uuid }?view=complete">JSON</a></td>
                 <td><a href="{ catalogue_base + service.uuid }/service_details">Catalogue</a> | <a href="{ catalogue_base + service.uuid }">JSON</a></td>
             </tr>
         </table>

    </div>
    </div>
{% endblock %}



{% block scripts %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "service/js/service_list.js" %}"></script>
{% endblock %}