{% extends "base.html" %}

{% block styles %}
    {% load staticfiles %}

    <link type="text/css" rel="stylesheet" href="{% static "service/css/list.css" %}" />

{% endblock %}

{% block content %}

    <div ng-app="serviceListApp">

     <div id="current_service_container" ng-controller="DetailsController">

         <table border="1" cellpadding="5">

             <tr>
                <td>Service Name</td>
                <td> { current_service.name } </td>
             </tr>
             <tr>
                 <td>Service UUID</td>
                 <td> { current_service.uuid } </td>
             </tr>

             <tr>
                 <td> Internal Description </td>
                 <td> { current_service.description_internal } </td>
             </tr>
             <tr>
                 <td> External Description </td>
                 <td> { current_service.description_external } </td>
             </tr>
             <tr>
                <td>Service Area</td>
                <td> { current_service.service_area } </td>
             </tr>
             <tr>
                 <td>Service Competitors</td>
                 <td> { current_service.competitors } </td>
             </tr>

             <tr>
                 <td> Owner Id </td>
                 <td ng-bind-html="owner_link"></td>
             </tr>
             <tr>
                 <td> Contact Info Id </td>
                 <td> { current_service.id_contact_information                         } </td>
             </tr>
             <tr>
                 <td> Service Funders </td>
                 <td> { current_service.funders_for_service } </td>
             </tr>
             <tr>
                 <td> Customer Value </td>
                 <td> { current_service.value_to_customer } </td>
             </tr>

         </table>


    </div>


    </div>
{% endblock %}



{% block scripts %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "service/js/service_list.js" %}"></script>
{% endblock %}