/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4e5779;
  --ifm-color-primary-dark: #464e6d;
  --ifm-color-primary-darker: #424a67;
  --ifm-color-primary-darkest: #373d55;
  --ifm-color-primary-light: #566085;
  --ifm-color-primary-lighter: #5a648b;
  --ifm-color-primary-lightest: #66729d;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #c5cbe2;
  --ifm-color-primary-dark: #a9b2d4;
  --ifm-color-primary-darker: #9ba5cd;
  --ifm-color-primary-darkest: #707fb8;
  --ifm-color-primary-light: #e1e4f0;
  --ifm-color-primary-lighter: #eff1f7;
  --ifm-color-primary-lightest: #ffffff;
}
