
{% extends "base.html" %}
{% load i18n %}
{% block content %}


    {% if AUTHENTICATION == False %}
 <div id="login">

<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
      <div class="form-row">
        {{ form.username.errors }}
        {{ form.username.label_tag }} {{ form.username }}
      </div>
      <div class="form-row">
        {{ form.password.errors }}
        {{ form.password.label_tag }} {{ form.password }}
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
        </form>
    </div>

    {% endif %}

    {% if AUTHENTICATION == True %}


    <h3>{{ USER }}</h3>


     <a href="/api/v1/accounts/logout">
        LOGOUT
    </a>

    {% endif %}
{% endblock %}
