

#content body:before {
    background: white;
}

#content {
    margin-top: 20px;
}


#content h1, h2 {
    font-weight: 400 !important;
}

#content .service-tile {
    position:relative;
    display:inline-block;
    overflow:hidden;
}

#content .service-pick {
    height: 20% !important;
    margin-bottom: 10px;
}

#content .area-header {
    background: #ecf2f9;
    padding: 5px;
}

#content .service-logo {
    position:absolute;
    top:50%;
    left:5%;
    -webkit-transform: translate(-50%, -50%);
    display: block;
    min-height:100%;
    max-height: 100%;
    width: auto;
    height: auto;

}

#content .page-sidebar {
    margin-top: 100px;
}

#content #service-content {
    margin-top: 100px;
}

#content .area-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

#content .collapse {
    visibility: collapse;
}

#content .menu-text{
    margin-left: 10px;
}

#content .submenu {
    list-style: none;
    display: none;
}

#content .menu-compact {
    display: block !important;
    position: absolute;
    left: 15px;
    z-index: 1;
    background: white;
    height: 20000px;
    box-shadow: 5px 5px 5px #888888;

}

#content .sidebar-collapse {
    margin-left: 10px;
    z-index: 2;
    position: relative;
}

#content .service-header li{
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    font-size: 20px;
}

#content a:hover {
    cursor: pointer;
}


#content #versions-sect {
    background: #F6F6F6;
}

#content #business-info-sect {
    background: #F6F6F6;
}

/*.navbar-fixed {*/
    /*top: 0;*/
    /*z-index: 100;*/
  /*position: fixed;*/
    /*width: 100%;*/
/*}*/

#content .navbar-default {
    padding: 25px;
}

#content .navbar-shrink {
    padding: 10px;
}

#content .links {
    margin-top: 10px;
}

#content .nav-focus {
    background: #e1e1e1;
}

#content .service-header a {
    padding: 20px;
}

#content .service-header li {
    margin: 0;
    padding: 5px;
}

#content #nav_bar {
    margin-bottom: 0;
}

.margin-top-40 {
    margin-top: 40px;
}

.introduction {
    background: lightskyblue;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 140px;
}





.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader {
  color: #f47929;
  font-size: 11px;
  text-indent: -99999em;
  margin-top: 55px;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


#service-content-main {
    display: none;
}