

body:before {
    background: white;
}

#content {
    margin-top: 100px;
}

#service-name {
}

h1, h2 {
    font-weight: 400 !important;
}

#service-short-desc {
    margin-top: 20px;
}

#description {
    text-align: justify;
    font-size: 13px;
    margin-top: 40px;
}

.separator {
    border-width: 1px;
    border-color: #6D92AF;
}

p {
    text-align: justify;
    font-size: 16px;
}

.paragraph {
    margin-top: 40px;
}

#versions {
    margin-top: 40px;
}

.wrapper {
    margin-top: 40px;
    font-size: 14px;
}

.options {
    margin-top: 30px;
    padding-left: 0;
}

.center-features {
    align-items: center;
    justify-content: center;
}

.features {
    margin-top: 20px;
    text-align: center;
}

.features:first-letter {
    text-transform: capitalize;
}

.links {
    font-size: 14px;
}

.option-name {
    padding-top: 0;
    margin-top: 0;
}

.logo {
    text-align: center;
}
@media screen and (max-width: 750px) {
    .center-text-xs {
        text-align: center;
    }
}

.padding-left-0{
    padding-left: 0;
}

.evenAttribute {
    background-color: #E4EBF0;
    padding: 4px 0px 4px 4px;
}
.oddAttribute {
    padding: 4px 0px 4px 4px;
}

.active-status {
    color: #4e7d0e;
}

.ui-autocomplete {  
    z-index: 100 !important;
    display: inline !important;
    position: absolute !important;
    padding-right: 5px;
    padding-left: 0;
    background: white;
    border: 1px;
}

.ui-menu-item {
    /*background: black;*/
    /*color: white;*/
    background: white;
    list-style-type: none;
    text-align: left;
    font-size: 13px;
    padding: 5px;
}
.ui-menu-item:hover
{
    color:White;
    background: #F47929;
    outline:none;
    cursor: pointer;
}

.ui-menu-item-hover
{
    color:White;
    background: #F47929;
    outline:none;
    cursor: pointer;
}

.modal-content {
    margin-top: 15px;
}

.ui-helper-hidden-accessible {
    display: none;
}

#nav_bar {
    height: 120px;
}

.navbar-shrink {
    height: 100px !important;
}

#sidebar {
    margin-top: 150px !important;
}

#write-content {
    margin-top: 130px !important;
}

.col-lg-10 {
    width: 83.333333% !important;
}

.col-lg-9 {
    width: 75% !important;
}

.field-label {
    padding-left: 0 !important;
}
