$primary: "blue" !default;
//$accent: "pink" !default;
//$warn: "red" !default;
//$background: "grey" !default;
//$link: "light-blue" !default;
$blue: #65799b;
$light-blue: #4f8bd6;
$dark-gray: #29333F;

@import "ember-gen";
@import "_buttons";
@import "_editor";

$success-color: color($color-light-green, '600');

.model-form .model-form-field:last-child .md-input-hint {
  top: -19px;
}

.fullwidth {
  width: 100%;
}

.nowrap {
  white-space: nowrap;
}

td img {
  max-height: 100px;
  margin: 10px 0;
}

img.logo {
  max-width: 200px;
}

.mce-panel {
  border-width: 0!important;
  margin-bottom: 10px!important;
}

body .md-icon-success {
  md-icon {
    color: $success-color !important;
  }
}


body .checkbox-container + .md-input-hint {
  position: relative;
  top: -30px;
  padding-left: 8px;
}

body .model-form .model-form-field:last-child .checkbox-container  + .md-input-hint {
  top: -12px;
}

body .page-content .actions {
  a.md-button {
    padding: 2px 20px;
  }

}

.message {
  font-style: italic;
}


body .model-form md-content[data-form-field-component='gen-form-field-select-table'] .md-input-hint {
  top: 0;
  margin-bottom: 2em;

}

footer {
  margin-top: auto;
  padding:1rem 1rem  0;
  font-size: 13px;
  p {
    text-align: center;
    span {
      display: block;
    }
  }
  img {
    height: 40px;
    margin: 0 3px;
  }
  .footer-links a {
    display: inline-block;
    padding-left: 3px;
    margin-left: 3px;
    border-left: 1px solid black;
    &:first-child {
      border: 0 none;
    }
  }
}

md-input-container.md-default-theme.md-input-invalid {
  md-chips.md-default-theme .md-chips, md-chips .md-chips {
    box-shadow: 0 2px #d50000;
    margin-bottom: 5px;
  }
}

md-input-container md-chips+label:not(.md-container-ignore)  {
  bottom: auto;
  top: 0;
}

md-input-container.md-input-focused md-chips+label:not(.md-no-float),
md-input-container.md-input-has-placeholder md-chips+label:not(.md-no-float),
md-input-container.md-input-has-value md-chips+  label:not(.md-no-float) {
  bottom: 100%;
  top: auto;
}

.page-content div.layout-column:first-child {
  display: block;
}

.table-popup {
  td, th {
    padding: 5px;
    border: 1px solid #ccc;
  }
}

md-sidenav md-toolbar.md-tall {
  background-image: linear-gradient(to bottom, #fafafa, #dedede 160px);
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: $blue;
}

md-content.login-info .user-label,
.login-info button {
  color: $dark-gray !important;
}

md-content.login-info .user-label, md-toolbar.md-default-theme:not(.md-menu-toolbar) .md-button:not(.md-raised), md-toolbar:not(.md-menu-toolbar) .md-button:not(.md-raised) {
  color: white;
}

a.md-button.md-default-theme.md-primary.md-raised, a.md-button.md-default-theme.md-primary.md-fab, a.md-button.md-primary.md-raised, a.md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-raised, .md-button.md-primary.md-fab {
    background-color: $blue;
}

a.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, a.md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, a.md-button.md-primary.md-raised:not([disabled]):hover, a.md-button.md-primary.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover {
    background-color: $light-blue;
}

a.md-button.md-default-theme:not([disabled]):hover, a.md-button:not([disabled]):hover, .md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover {
  background-color: rgba(158, 158, 158, 0.1);
}

.page-content .actions {
  a.md-button.md-default-theme:not([disabled]):hover, a.md-button:not([disabled]):hover, .md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover {
    background-color: rgba(30, 48, 70, 0.1);
  }
}

.model-form .md-input-hint  {
  color: gray;
}

md-content.login-info {
  padding-top: 0;
  margin-top: 0;
}

img.logo {
  max-height: 100px;
}

