{{#gen-page as |page|}}
  {{#paper-toolbar class="md-whiteframe-1dp page-main-toolbar"}}
    <div class="md-padding">
      {{t gen.page.title }}
    </div>

  {{/paper-toolbar}}

  {{#page.content}}
    <md-content>
      {{#paper-content class="md-padding"}}
        {{#paper-card}}
          {{#paper-card-title}}
            {{#paper-card-title-text}}
              <div>
                {{component gen.content}}
              </div>
            {{/paper-card-title-text}}
          {{/paper-card-title}}
        {{/paper-card}}
      {{/paper-content}}
    </md-content>
  {{/page.content}}
{{/gen-page}}
